<div class="Navbar">
    <div class="Navbar__item">
        <a href="../Home/Home.hbs">Super-Chat</a>
    </div>
    <div class="Navbar__items-wrapper">
        <div class="Navbar__item">
            <a href="../Home/Home.hbs">Чат</a>
        </div>
        <div class="Navbar__item">
            <a href="../Login/Login.hbs">Логин!</a>
        </div>
        <div class="Navbar__item">
            <a href="../Home/Home.hbs">Регистрация</a>
        </div>
        <div class="Navbar__item">
            <a href="../Home/Home.hbs">Профиль</a>
        </div>
    </div>
</div>
<main>
    <div class="Login">
        <div class="Login__wrapper">
            <div class="Login__points">
                <div class="Login__points-item"></div>
                <div class="Login__points-item"></div>
                <div class="Login__points-item"></div>
            </div>
            <form>
                <h1>Вход</h1>
                <div class="Login__input-wrapper">
                    {{{usernameInput}}}
                </div>
                <div class="Login__input-wrapper">
                   {{{passwordInput}}}
                </div>
                <div class="Login__button-wrapper">
                    {{{submitButton}}}
                </div>
            </form>
        </div>
    </div>
</main>

