<main>
    {{{Navbar}}}
    <div class="Login">
        <div class="Login__wrapper">
            <div class="Login__points">
                <div class="Login__points-item"></div>
                <div class="Login__points-item"></div>
                <div class="Login__points-item"></div>
            </div>
           {{{formLogin}}}
        </div>
    </div>
</main>

