<form>
    <h1>Вход</h1>
    <div class="FormLogin__input">
        {{{inputLogin}}}
        <div class="FormLogin__error" id="errorLogin"></div>
    </div>
    <div class="FormLogin__input">
        {{{inputPassword}}}
        <div class="FormLogin__error" id="errorPassword"></div>
    </div>
    <div id="error"></div>
    <div class="Button__wrapper">
        {{{submitButton}}}
    </div>
</form>