<form>
    <h1>Вход!!!</h1>
    <div class="Input__wrapper-chat">
        {{{inputLogin}}}
    </div>
    <div class="Input__wrapper-chat">
        {{{inputPassword}}}
    </div>
    <div id="error"></div>
    <div class="Button__wrapper">
        {{{submitButton}}}
    </div>
</form>