<main>
    {{{Navbar}}}
    <div class="Personal-account">
        <div class="Personal-account__wrapper">
            <div class="Personal-account__avatar-wrapper">
                <div class="Personal-account__avatar">+</div>
            </div>
                {{{personalAccountForm}}}
        </div>
    </div>
</main>