.Navbar {
  position: fixed;
  top: 0;
  height: 70px;
  background: blue; }
  .Navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .Navbar__item {
    color: white;
    font-size: 20px;
    cursor: pointer; }
