<div class="Chat__item">
    <div class="Chat__avatar"></div>
    <div class="Chat__content-wrapper">
        <div class="Chat__info">
            {{username}}
        </div>
        <div class="Chat__content">
            {{lastMessage}}
        </div>
    </div>
</div>