{{#extend 'main'}}
    {{#content "main"}}
        <main>
            <h1>Главная</h1>
            <div class="Main">
            <div class="Chat__list">
                <div class="Input__wrapper">
                </div>
            </div>
                <div class="Chat__messenger">
                    <div class="Sign-up__points">
                        <div class="Sign-up__points-item"></div>
                        <div class="Sign-up__points-item"></div>
                        <div class="Sign-up__points-item"></div>
                    </div>
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
