<div class="Main">
    <div class="Chat__list">
        <div class="Input__wrapper">
            <input placeholder="Найти" type="text">
        </div>

        <div class="Chat__item">
            <div class="Chat__avatar"></div>
            <div class="Chat__content-wrapper">
                <div class="Chat__info">
                    Степура Савелий
                </div>
                <div class="Chat__content">
                    Привет! Как твои дела?
                </div>
            </div>
        </div>

        <div class="Chat__item">
            <div class="Chat__avatar"></div>
            <div class="Chat__content-wrapper">
                <div class="Chat__info">
                    Иван Иванов
                </div>
                <div class="Chat__content">
                    Незнаю что сказать 😅
                </div>
            </div>
        </div>

        <div class="Chat__item">
            <div class="Chat__avatar"></div>
            <div class="Chat__content-wrapper">
                <div class="Chat__info">
                    Петр Петров
                </div>
                <div class="Chat__content">
                    Круто! Поздравляю 🥂🔥🍭
                </div>
            </div>
        </div>

    </div>
    <div class="Chat__messenger">
        <div class="Sign-up__points">
            <div class="Sign-up__points-item"></div>
            <div class="Sign-up__points-item"></div>
            <div class="Sign-up__points-item"></div>
        </div>
        <div class="Input__wrapper-chat">
            <input placeholder="Написать сообщение..." type="text">
        </div>
        <div class="Button__wrapper">
            <button>Отправить</button>
        </div>
    </div>
</div>
