<div class="Login">
    <div class="Login__wrapper">
        <form>
            <h1>Вход</h1>
            <div class="Login__input-wrapper">
                <input type="text" name="Логин" placeholder="Логин">
            </div>
            <div class="Login__input-wrapper">
                <input type="password" name="Пароль" placeholder="Пароль">
            </div>
            <div class="Login__button-wrapper">
                <button type="submit">Вход</button>
            </div>
        </form>
    </div>
</div>


