<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express</title>
    <link rel = "stylesheet" type="text/css"  href="css/index.css">
</head>
<body>
    <div class="Navbar">
        <div class="Navbar__items">
            <div class="Navbar__item">
                Messenger
            </div>
            <div class="Navbar__item">
                Chat
            </div>
            <div class="Navbar__item">
                About as
            </div>
            <div class="Navbar__item">
                Sign up
            </div>
            <div class="Navbar__item">
                Login
            </div>
        </div>
    </div>
    <h1>Express application</h1>
</body>
</html>