<form>
    <div class="Form">
        <div class="Form__input">
            {{{inputChat}}}
            <div class="Form__error" id="error"></div>
        </div>
        <div class="Button__wrapper">
            {{{firstButton}}}
        </div>
    </div>
</form>