<main>
    {{{Navbar}}}
    <div class="Sign-up">
        <div class="Sign-up__wrapper">
            <div class="Sign-up__points">
                <div class="Sign-up__points-item"></div>
                <div class="Sign-up__points-item"></div>
                <div class="Sign-up__points-item"></div>
            </div>
            {{{signUpForm}}}
        </div>
    </div>
</main>