{{#extend 'main'}}
    {{#content "main"}}
        <div class="Sign-up">
            <div class="Sign-up__wrapper">
                <div class="Sign-up__points">
                    <div class="Sign-up__points-item"></div>
                    <div class="Sign-up__points-item"></div>
                    <div class="Sign-up__points-item"></div>
                </div>
                <form>
                    <h1>Регистрация</h1>
                    <div class="Sign-up__input-wrapper">
                        <input type="text" name="name" placeholder="Имя">
                    </div>
                    <div class="Sign-up__input-wrapper">
                        <input type="text" name="last_name" placeholder="Фамилия">
                    </div>
                    <div class="Sign-up__input-wrapper">
                        <input type="text" name="login" placeholder="Логин">
                    </div>
                    <div class="Sign-up__input-wrapper">
                        <input type="text" name="email" placeholder="Почта">
                    </div>
                    <div class="Sign-up__input-wrapper">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="Sign-up__input-wrapper">
                        <input type="password" name="password_two" placeholder="Пароль еще раз">
                    </div>
                    <div class="Sign-up__button-wrapper">
                        <button type="submit">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    {{/content}}
{{/extend}}